---
import PsalmItem from "./PsalmItem.astro"
const allPsalms = await Astro.glob('../pages/psalms/*.md')
---
<nav class="content-grid">
    <h1 class="hidden-title">Главная Навигация</h1>
    <ol>
        <li><a href="/about/">О проекте</a></li>
        <li><a href="/exegetic/">О принципах толкования</a></li>
        { allPsalms.map((psalm) =>
            <PsalmItem
                url={psalm.url}
                id={psalm.frontmatter.id}
                title={psalm.frontmatter.title}
                messianicTitle={psalm.frontmatter.messianicTitle}
                description={psalm.frontmatter.description}
            />
         ) }
        <li><a href="/about-author/">Об авторе</a></li>
    </ol>
    <script>
        import '../scripts/descriptions.js'
    </script>
</nav>
<style>
    nav {
        margin: 3rem 0;
    }
    ol {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    a {
        font-size: var(--fz-card-title);
        text-wrap: balance;
    }
</style>