---
const { url, id, messianicTitle, title, description = 'Увы, описание пока отсутствует :-(' } = Astro.props
const descriptionLines = description.split('%').join('')
---
<li>
    <a class="psalm-item-title" href={url}>
        Псалом {id.replace(/^0+/, '')}. {title} | {messianicTitle}
    </a>
    <details>
        <summary class="btn description-btn">Описание</summary>
        <p class="description hidden-description">{descriptionLines}</p>
    </details>
    <!-- script for button imported in MainNavigation.astro, so it may applyes for all buttons -->
    <button class="btn description-btn">Описание</button>
    <p class="description hidden-description">
        {description.split('%').map(line => <span>{line}</span><br>)}
    </p>
</li>
<style>
    .psalm-item-title {
        font-size: var(--fz-card-title);
        text-wrap: balance;
    }
    .btn {
        width: 8em;
        padding: .5rem 0;
        margin-top: 1rem;
        font-size: 1rem;
        border: solid 2px;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
    }
    .description {
        margin: 1rem 0;
    }
    .hidden-description {
        margin: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        z-index: -1000;
    }
</style>
