---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props
---

<Layout pageTitle={frontmatter.title} imgUrl={frontmatter.imgUrl}>	
	<h1 class="page-title">{frontmatter.title}</h1>
	{ frontmatter.audio && <audio src={frontmatter.audio} controls/> }	
	<slot />
	<p>{frontmatter.author}</p>	
</Layout>