---
import MainLayout from './MainLayout.astro'
import Player from '../components/Player.astro'

const { frontmatter } = Astro.props
---

<MainLayout pageTitle={frontmatter.title} imgUrl={frontmatter.imgUrl}>	
	{ frontmatter.audio && <Player
		audio={frontmatter.audio}
		id={frontmatter.id}
		title={frontmatter.title}
		messianicTitle={frontmatter.messianicTitle}
	/>}
	<h1 class="page-title">{frontmatter.title} | {frontmatter.messianicTitle}</h1>
	<slot />
	<p class="city">Самара,</p>
	<p class="date"><time>{frontmatter.date.slice(0,10)}</time></p>
	<!-- <p class="author">{frontmatter.author}</p> -->
</MainLayout>
<style>
	.page-audio {
		position: sticky;
		top: var(--header-height);
	}
	.city,
	.date,
	.author {
		font-size: 1.2rem;
		text-align: center;
	}
	.city {
		margin-bottom: .5rem;
	}
	.date {
		/* margin-bottom: 1rem; */
		margin-bottom: 3rem;
	}
/* 	.author {
		margin-bottom: 4rem;
	} */
</style>